<h1>Todo</h1>

<div class="container">
  <fieldset class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      [(ngModel)]="todo.description"
      required
    />
  </fieldset>

  <fieldset class="form-group">
    <label for="targetDate">Target Date</label>
    <input
      type="date"
      class="form-control"
      name="targetDate"
      [ngModel]="todo.targetDate | date : 'yyyy-MM-dd'"
      (ngModelChange)="todo.targetDate = $event"
      id="targetDate"
      required
    />
  </fieldset>

  <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>
